*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
h1{
    text-align: center;
    color: #333;
    margin-top: 30px;
}
.container{
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button{
    width: 60px;
    height: 60px;
    background-color: #28a745;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}
h2{
    text-align: center;
    color: #555;
}
#white{
    background-color: #fff;
}
#red{
    background-color: #f00;
}
#green{
    background-color: #0f0;
}
#blue{
    background-color: #00f;
}
#yellow{
    background-color: #ff0;
}